<% if session[:user_id] %>
<% @user = User.find(session[:user_id]) %>
<div id="sidebar" role="navigation">
  <%= link_to "Sign out", signout_path, id: "sign_out"%>
    <%= image_tag('TripTip_Logo-01') %>
    <ul id='nav'>
        <li id='user-home'>
            <!-- <h1><%= @user.name%></h1> -->
        </li>

        <li id='trips-section'>
        <li id='trips-title'>
            <a id="all-trips" href="#">
              <div id="trips-header">Trips</div>
              <i id="trips-dropdown" class="fa fa-sort-desc" aria-hidden="true"></i>
              <%= button_tag(type: "button", class: 'add-trip-button') do %>
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                add
              <% end %>
            </a>
            <div class="t-underline"></div>
        </li>
        <ul id="user-trips" class="hidden">
            <li>
                <%= form_tag("/users/#{@user.id}/trips", :class => 'new-trip hidden', method: "post") do %>
                  <%= text_field_tag("trip[name]") %>
                  <%= hidden_field_tag("user[id]", @user.id) %>
                  <%= hidden_field_tag("trip[center]", "3245678") %>
                  <%= hidden_field_tag("trip[zoom]", "12") %>
                  <%= button_tag(type: "submit", class: 'add-trip-submit') do %>
                            <%= content_tag(:strong, '+') %>
                    <!-- <i class="fa fa-plus-square" aria-hidden="true"></i> -->
                  <% end %>
                  <div class="">
                    <%= check_box_tag :private %> private
                  </div>
                <% end %>
            </li>

            <li id="trip-template" class="trip-items sub-li hidden"><a class="trip-name" href="#"></a>
                <a class="trip-update" data-method="patch" href="#" rel="nofollow">pencil</a>
                <a class="trip-delete" data-method="delete" href="#" rel="nofollow">x</a>
            </li>

            <% if @user.trips.length != 0 %>
            <% @user.trips.reverse.each do |x| %>
            <li class='trip-items'>
              <%= link_to x.name, user_trip_path(@user, x), class: "trip-map" %>
              <div class="trip-edits">
              <a class="trip-update" href="/users/<%=@user.id%>/trips/<%=x.id%>" rel="nofollow">pencil</a>
              <a class="trip-delete" href="/users/<%=@user.id%>/trips/<%=x.id%>" rel="nofollow">x</a>
              </div>
            </li>
            <% end %>
            <% end %>
        </ul>
    </li>

    <li id='friends-section'>
    <li id="friend-list">
        <a href="#">Friends<i class="fa fa-sort-desc" aria-hidden="true"></i>
        </a>
        <div class="f-underline"></div>
    </li>
    <ul id="friends" class="hidden">
        <% if @user.friends.length != 0 %>
          <% @user.friends.each do |x| %>
            <li id="friend-name">
              <%= link_to x.name, user_trips_path(x), :class => 'friend-li', :data => x.id %>
            </li>
            <% if x.trips != 0 %>
              <ul class="friend-trips">
              <% x.trips.each do |t| %>
                <% if !t.private %>
                  <li class='trip-items'>
                    <%= link_to t.name, user_trip_path(x, t), :class => 'sub-li', :data => x.id %>
                  </li>
                <% end %>
              <% end %>
              </ul>
            <% else %>
              <li><%= x.name %> doesn't have any trips!</li>
            <% end %>
          <% end %>
        <% else %>
            <p>You don't have any friends</p>
        <% end %>

      </ul>
    </li>
  <li id='add-friends-section'>
    <h4>Add Friend</h1>
    <li>
        Search: <%= text_field_tag("search[name]") %>
    </li>
  </li>
  <li id='query-results'>
    <p></p>
  </li>
  </ul>
</div>

  <input id="pac-input" class="controls" type="text"
    placeholder="Enter a location">
<div id="map"></div>


<% end %>
