<% if session[:user_id] %>
  <% @user = User.find(session[:user_id]) %>
<div id="sidebar" role="navigation">
  <ul id='nav'>
    <li id='user-section'>
      <h1><%= @user.name%></h1>
    </li>

    <li id='trips-section'>
      <h1>Trips</h1>
      <ul>
        <li>
          <%= form_tag("/users/#{@user.id}/trips", :class => 'new-trip', method: "post") do %>
            <%= text_field_tag("trip[name]") %>
            <%= hidden_field_tag("user[id]", @user.id) %>
            <%= hidden_field_tag("trip[center]", "3245678") %>
            <%= hidden_field_tag("trip[zoom]", "12") %>
            <%= submit_tag("add") %>
          <% end %>
        </li>
        <li id="trip-template" class="trip-items hidden"><a href="#"></a></li>

        <% if @user.trips.length != 0 %>
        <% @user.trips.reverse.each do |x| %>
          <li class='trip-items'><%= link_to x.name, user_trip_path(@user, x), :class => 'sub-li', :data => @user.id %></li>
        <% end %>
        <% end %>
      </ul>
    </li>

    <li id='friends-section'>
      <h1>Friends</h1>
      <ul>
        <% if @user.friends.length != 0 %>
          <% @user.friends.each do |x| %>
            <li>
              <%= link_to x.name, user_trips_path(x), :class => 'friend-li', :data => x.id %>
            </li>
            <% if x.trips != 0 %>
              <% x.trips.each do |t| %>
                <li class='trip-items'>
                  <%= link_to t.name, user_trip_path(x, t), :class => 'sub-li', :data => x.id %>
                </li>
              <% end %>
            <% else %>
              <li><%= x.name %> doesn't have any trips!</li>
            <% end %>
          <% end %>
        <% else %>
            <p>You don't have any friends</p>
        <% end %>
      </ul>
    </li>
  </ul>
</div>

<div id="map"></div>

<% end %>

