<% if session[:user_id] %>
<% @user = User.find(session[:user_id]) %>
<div id="sidebar" role="navigation">
  <%= link_to "Sign out", signout_path, id: "sign_out"%>
    <%= image_tag('TripTip_Logo-01') %>
    <ul id='nav'>
        <li id='user-home'>
            <!-- <h1><%= @user.name%></h1> -->
        </li>

        <li id='trips-section'>
        <li id='trips-title'>
            <a id="all-trips" href="#">
              <div id="trips-header">Trips</div>
              <i id="trips-dropdown" class="fa fa-sort-desc" aria-hidden="true"></i>
              <%= button_tag(type: "button", class: 'add-trip-button') do %>
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                add
              <% end %>
            </a>
            <div class="t-underline"></div>
        </li>
        <ul id="user-trips" class="hidden">
            <li>
                <%= form_tag("/users/#{@user.id}/trips", :class => 'new-trip hidden', method: "post") do %>
                  <%= text_field_tag("trip[name]", "", required: 'true') %>
                  <%= hidden_field_tag("user[id]", @user.id) %>
                  <%= hidden_field_tag("trip[center]", "3245678") %>
                  <%= hidden_field_tag("trip[zoom]", "12") %>
                  <%= button_tag(type: "submit", class: 'add-trip-submit') do %>
                            <%= content_tag(:strong, '+') %>
                    <!-- <i class="fa fa-plus-square" aria-hidden="true"></i> -->
                  <% end %>
                  <div id="private-check">
                    <%= check_box_tag :private %> private
                  </div>
                <% end %>
            </li>

            <li id="trip-template" class="trip-items sub-li hidden"><a class="trip-map" href="#"></a>
              <span class="trip-edits">
                <a class="trip-delete" href="#" rel="nofollow"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a class="trip-update" href="#" rel="nofollow"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              </span>
            </li>

            <form id="">

            </form>

            <% if @user.trips.length != 0 %>
            <% @user.trips.reverse.each do |x| %>
            <li class='trip-items'>
              <%= link_to x.name, user_trip_path(@user, x), class: "trip-map" %>
              <span class="trip-edits">
                <a class="trip-delete" href="/users/<%=@user.id%>/trips/<%=x.id%>" rel="nofollow"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a class="trip-update" href="/users/<%=@user.id%>/trips/<%=x.id%>" rel="nofollow"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              </span>

            </li>
            <% end %>
            <% end %>
        </ul>
    </li>

    <li id='friends-section'>
    <li id="friend-list">
        <a href="#">
          <div id="friends-header">Friends</div>
          <i class="fa fa-sort-desc" aria-hidden="true"></i>
          <%= button_tag(type: "button", class: 'add-friend-button') do %>
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            add
          <% end %>
        </a>
        <div class="f-underline"></div>
    </li>
    <ul id='add-friends-section' class="hidden">
      <li>
        <li id='search' class="hidden">
          <div class="wrapper">
            <%= text_field_tag("search[name]", '', required: 'true', placeholder: 'Jane Doe') %>
            <i id="friend-search-icon" class="fa fa-search" aria-hidden="true"></i>
            <i id="search-close" class="fa fa-times-circle" aria-hidden="true"></i>

          </div>
        </li>
        <li id='query-results'>
        </li>
      </li>
    </ul>
    <ul id="pending" class="hidden">
    </ul>
    <ul id="friends" class="hidden">
        <% if @user.friends.length != 0 %>
          <li><h4>Friends</h4></li>
          <% @user.friends.reverse.each do |x| %>
            <li id="friend-name">
              <%= link_to x.name, user_trips_path(x), :class => 'friend-li', :data => x.id %>
              <% if x.trips.length != 0 %>
              <ul class="friend-trips hidden">
              <% x.trips.each do |t| %>
                <% if !t.private %>
                  <li class='trip-items'>
                    <%= link_to t.name, user_trip_path(x, t), :class => 'sub-li trip-map', :data => x.id %>
                  </li>
                <% end %>
              <% end %>
              </ul>
            <% else %>
              <!-- <li style="font-size: .5em"><%= x.name %> doesn't have any trips!</li> -->
            <% end %>
            </li>
          <% end %>
        <% else %>
            <li class="no-friends"><p>You don't have any friends</p></li>
        <% end %>

      </ul>
    </li>
  </ul>

</div>
<div id="message" class="hidden"></div>
  <input id="pac-input" class="controls" type="text"
    placeholder="Enter a location">
    <div class="map-container">
      <div id="map"></div>
    </div>
    <div id="ex1" style="display:none;">
        <div id='modal-html'></div>
    </div>
    <% else %>
    <section class="one">
  <nav class="navbar">
    <ul>
      <!-- <li><a href="#">fb-login</a></li>
      <li><a href="#">google-login</a></li> -->
    </ul>
  </nav>
  <!-- <h1 class="logo">TripTip</h1> -->
  <div class="logo">
    <%= image_tag('TripTip_Logo-01') %>
  </div>

</section>
<section class="content-one">
  <h1>About TripTip:</h1>
  <br>
  <p>
    TripTip is a social website to share your favorite trip destinations with your friends. With Google integration, you can log in and seemlessly create trips and tag each destination on your trip with a comment and rating. 
  </p>

</section>
<section class="two">
</section>
<section class="content-two">
  <h1>Connect with your friends!</h1>
  <br>
  <p>
    TripTip is an excellent way to keep in touch with your friends around the world - see all the destinations they have visited and locations they loved!
  </p>
  <p>
    Not into the social scene? Set a trip as private so your friends can't view it. 
  </p>
  <br>

</section>
<section class="three">
</section>
<section class="content-three">
  <h1>About the Developers:</h1><br>
  <p>TripTip is a project created by <a href="https://github.com/linamacromer/">Lina Ma Cromer</a>, <a href="https://github.com/ap2539">Alex Perez</a>, <a href="https://github.com/bulicekj/">Jason Bulicek</a>, and <a href="https://github.com/ratley/">Bradley Inniss</a>. Comments, questions, and issues can be posted on the <a href="https://github.com/linamacromer/triptip">source site</a>.</p>

</section>
<% end %>
