<% if session[:user_id] %>
<% @user = User.find(session[:user_id]) %>
<div id="sidebar" role="navigation">
  <%= link_to "Sign out", signout_path, id: "sign_out"%>
    <%= image_tag('TripTip_Logo-01') %>
    <ul id='nav'>
        <li id='user-home'>
            <!-- <h1><%= @user.name%></h1> -->
        </li>

        <li id='trips-section'>
        <li id='trips-title'>
            <a id="all-trips" href="#">
              <div id="trips-header">Trips</div>
              <i id="trips-dropdown" class="fa fa-sort-desc" aria-hidden="true"></i>
              <%= button_tag(type: "button", class: 'add-trip-button') do %>
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                add
              <% end %>
            </a>
            <div class="t-underline"></div>
        </li>
        <ul id="user-trips" class="hidden">
            <li>
                <%= form_tag("/users/#{@user.id}/trips", :class => 'new-trip hidden', method: "post") do %>
                  <%= text_field_tag("trip[name]", "", required: 'true') %>
                  <%= hidden_field_tag("user[id]", @user.id) %>
                  <%= hidden_field_tag("trip[center]", "3245678") %>
                  <%= hidden_field_tag("trip[zoom]", "12") %>
                  <%= button_tag(type: "submit", class: 'add-trip-submit') do %>
                            <%= content_tag(:strong, '+') %>
                    <!-- <i class="fa fa-plus-square" aria-hidden="true"></i> -->
                  <% end %>
                  <div>
                    <%= check_box_tag :private %> private
                  </div>
                <% end %>
            </li>

            <li id="trip-template" class="trip-items sub-li hidden"><a class="trip-map" href="#"></a>
                <a class="trip-delete" href="#" rel="nofollow"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a class="trip-update" href="#" rel="nofollow"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>

            <form id="">

            </form>

            <% if @user.trips.length != 0 %>
            <% @user.trips.reverse.each do |x| %>
            <li class='trip-items'>
              <%= link_to x.name, user_trip_path(@user, x), class: "trip-map" %>
              <span class="trip-edits">
              <a class="trip-delete" href="/users/<%=@user.id%>/trips/<%=x.id%>" rel="nofollow"><i class="fa fa-times" aria-hidden="true"></i></a>
              <a class="trip-update" href="/users/<%=@user.id%>/trips/<%=x.id%>" rel="nofollow"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              </span>

            </li>
            <!-- <div class="divider"></div> -->
            <% end %>
            <% end %>
        </ul>
    </li>

    <li id='friends-section'>
    <li id="friend-list">
        <a href="#">
          <div id="friends-header">Friends</div>
          <i class="fa fa-sort-desc" aria-hidden="true"></i>
          <%= button_tag(type: "button", class: 'add-friend-button') do %>
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            add
          <% end %>
        </a>
        <div class="f-underline"></div>
    </li>
    <ul id='add-friends-section' class="hidden">
      <li>
        <li id='search' class="hidden">
          <div class="wrapper">
            <%= text_field_tag("search[name]", '', required: 'true') %>
            <i id="friend-search-icon" class="fa fa-search" aria-hidden="true"></i>
          </div>
        </li>
        <li id='query-results'>
        </li>
      </li>
    </ul>
    <ul id="pending" class="hidden">
    </ul>
    <ul id="friends" class="hidden">
        <% if @user.friends.length != 0 %>
          <li><h4>Friends</h4></li>
          <% @user.friends.reverse.each do |x| %>
            <li id="friend-name">
              <%= link_to x.name, user_trips_path(x), :class => 'friend-li', :data => x.id %>
            </li>
            <% if x.trips != 0 %>
              <ul class="friend-trips">
              <% x.trips.each do |t| %>
                <% if !t.private %>
                  <li class='trip-items'>
                    <%= link_to t.name, user_trip_path(x, t), :class => 'sub-li trip-map', :data => x.id %>
                  </li>
                <% end %>
              <% end %>
              </ul>
            <% else %>
              <li><%= x.name %> doesn't have any trips!</li>
            <% end %>
          <% end %>
        <% else %>
            <li class="no-friends"><p>You don't have any friends</p></li>
        <% end %>

      </ul>
    </li>
  </ul>
</div>
<div id="message" class="hidden"></div>
  <input id="pac-input" class="controls" type="text"
    placeholder="Enter a location">
    <div class="map-container">
      <div id="map"></div>
    </div>
    <% else %>
    <section class="one">
  <nav class="navbar">
    <ul>
      <!-- <li><a href="#">fb-login</a></li>
      <li><a href="#">google-login</a></li> -->
    </ul>
  </nav>
  <h1 class="logo">TripTip</h1>

</section>
<!-- <section class="content-one">
  <h1>Lorem ipsum dolor</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section> -->
<section class="two">
  <h1 class="header">header 2</h1>

</section>
<!-- <section class="content-two">
  <h1>Lorem ipsum dolor</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section> -->
<section class="three">
  <h1 class="header">header 3?</h1>
</section>
<% end %>
