<li id='temp-section'>
  <h1><%= @trip.name %>:Tips</h1>
  <ul id='tip-list'>
    <li>
      <% if session[:user_id] == @user.id %>
        <%= form_tag("/users/#{@user.id}/trips/#{@trip.id}/tips", :id => 'add-tip-form', :class => 'hidden', method: "post") do %>
          <%= hidden_field_tag("tip[name]") %>
          <%= hidden_field_tag("tip[place_id]") %>
          <%= hidden_field_tag("tip[lat]") %>
          <%= hidden_field_tag("tip[lng]") %>
          <%= hidden_field_tag("tip[address]") %>
          <%= hidden_field_tag("tip[g_rating]") %>
          <%= submit_tag("add") %>
        <% end %>
      <% end %>
    </li>
    <% if @trip.tips.length != 0 %>
    <% @trip.tips.reverse.each do |x| %>
      <li class="tip-item"><%= link_to x.name, user_trip_tip_path(@user, @trip, x), "data-place_id" => x.place_id  %></li>
    <% end %>
    <% end %>
  </ul>
</li>
