<div id='large-info-box'>
  <h1 id='large-info-trip-name'><%= @trip.name %></h1>
  <h2 id='large-info-tip-name'><%= @tip.name %></h2>
  <a class="tip-delete" href="#" ><i class="fa fa-times" aria-hidden="true"></i></a>
  <a class="tip-update" href="#" ><i class="fa fa-pencil" aria-hidden="true"></i></a>

  
  <%= form_tag("/users/#{@user.id}/trips/#{@trip.id}/tips/#{@tip.id}", method: "put") do %>
    <div id='large-info-address'><%= @tip.address %></div>
    <br>
    <div id='large-info-g_rating'><span>Google+ Rating: <%= @tip.g_rating %></span></div>
    <div id='large-info-rating'>
      <span><%= format_rating %></span>
      <%= select_tag "tip[rating]", options_for_select(['0','1','2','3','4','5'], selected: @tip.rating.to_s) %>
    <div>
    <br>
    <div id='large-info-comment'>
      <span>Comment: <%= format_comment %></span>
      <br>
      <%= text_area_tag(:message, format_comment , size: "80x10", name: 'tip[comment]') %>
    </div>
    <br>
    <%= submit_tag("Update") %>
  <% end %>
</div>

  
<!-- :class => 'new-trip hidden' -->