<!DOCTYPE html>
<html>
  <head>
    <title>TripTip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/83561660c5.js"></script>
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script type="text/html" id="tip-nav-partial">
      <li class="tip-item">
        <a data-place_id="{{place_id}}" href='/users/{{user_id}}/trips/{{trip_id}}/tips/{{id}}'>{{name}}</a>
      </li>
    </script>
    <script type="text/html" id="tip-partial">
      <div id='map-info-box'>
        <h3 id='info-box-title'><a href="#ex1" rel="modal:open" name='/users/{{user_id}}/trips/{{trip_id}}/tips/{{id}}'>{{name}}</a></h3>
        <ul id='info-box-list'>
          <li id='info-box-address'>{{address}}</li>
          <li id='info-box-g_rating'>Google Rating: {{g_rating}}</li>
          <li id='info-box-rating'>{{username}}'s Rating: {{rating}}</li>
          <li id='info-box-comment'>Comments...</li>
        </ul>
      </div>
    </script>
  </head>
  <body>
    <div class="login">
      <% if current_user %>
         <!-- Signed in as <strong><%= current_user.name %></strong>! -->
         <!-- <%= link_to "Sign out", signout_path, id: "sign_out"%> -->
       <% else %>
         <%= link_to image_tag('sign-in-with-google'), "/auth/google_oauth2", id: "sign_in"%>
      <% end %>
    </div>
    <div>
    <%= yield %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr1YztyN-tIYSsmsZszIsc3VwP7c8nyRI&libraries=places&callback=initMap"
    async defer></script>
  </body>
</html>
