<!DOCTYPE html>
<html>
  <head>
    <title>TripTip</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script type="text/html" id="tip-partial">
      <li class='trip-tip'><a href="{{place_id}}">{{name}}</a></li>
    </script>
    <script type="text/html" id="nav-partial">
      <li id="{{nav_type}}-nav">
        <div id='{{nav_type}}-container'>
          <ul id='{{nav_type}}-list'>
            <li class='{{nav_name}}-item'></li>
          </ul>
        </div>
      </li>
    </script>
  </head>
  <body>
    <div class="login">
      <% if current_user %>
         Signed in as <strong><%= current_user.name %></strong>!
         <%= link_to "Sign out", signout_path, id: "sign_out"%>
       <% else %>
         <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in"%>
      <% end %>
    </div>
    <div>
    <%= yield %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr1YztyN-tIYSsmsZszIsc3VwP7c8nyRI&callback=initMap"
    async defer></script>
  </body>
</html>
